.about {
    background-color: gray;
    text-align: center;
    /* margin: -5px; */
    padding-bottom: 20px;
}

.about__header {
    text-align: center;
    color: #fff;
    padding: 2rem;
}

.about__content {
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large;
    font-weight: 300;
}

ul{
    text-align: center;
    margin: 0;

}

li {
    list-style-type: none;
    justify-content: center;
    padding-bottom: 5px;
    display: inline-flex-vertical;
}

h2 {
    
    color: rgb(200, 0, 40)
}

i{
    padding: 15px;
    margin-right: 50px;
}