.about {
    background-color: gray;
    text-align: center;
}

.header {
    text-align: center;
    color: #fff;
}

.about_content {
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large;
    font-weight: 200;
}

ul {
    text-align: center;
}

li {
   
    list-style-type: none;
    justify-content: center;
}